{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 card p-4 shadow-sm">
        <h3>Create Job Drive</h3>
        <form method="POST">
            <label>Title</label>
            <input type="text" name="title" class="form-control mb-3" required>
            <label>Description</label>
            <textarea name="description" class="form-control mb-3" rows="4"></textarea>
            <label>Eligibility</label>
            <textarea name="criteria" class="form-control mb-3" rows="2"></textarea>
            <label>Deadline</label>
            <input type="datetime-local" name="deadline" class="form-control mb-4" required>
            <button class="btn btn-primary w-100">Send for Admin Approval</button>
        </form>
    </div>
</div>
{% endblock %}